{% extends "Appboots/base.html" %}
{% load static %}
{% block section5 %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- action: representa la url a la que nos va a re-dirigir. Tiene prioridad
    por sobre la redirección que podamos colocar en views.py -->
    
    {% for familiar in familiares %}
        <li> {{ familiar.nombre }} </li>
        <li> {{ familiar.parentesco }} </li>
    {% endfor %}
    
    {% endblock %}