<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Formulario familiar </title>
    </head>
    
<body>

    <!-- action: representa la url a la que nos va a re-dirigir. Tiene prioridad
    por sobre la redirección que podamos colocar en views.py -->
    <form action="" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Parentesco: <input type="text" name="parentesco"></p>

        <input type="submit" value="Enviar">

    </form>
</body>
    </html>