{% extends "Appboots/base.html" %}
{% load static %}

{% block section4 %}

<ul>
    {% for curso in cursos %}
        <li>Curso: {{ curso.nombre }} / Camada: {{curso.camada}} 
        <button>
            <a onclick="return confirm('¿Estás seguro de que deseas eliminar el curso?')" href="{% url 'DeleteCurso' curso.id %}">Eliminar</a>
            <a href="{% url 'EditCurso' curso.id %}">Editar</a>
            <a href="{% url 'EditCurso' curso.id %}">Ver</a>
        </button>
    {% endfor %}
    <br>
    <a href="{% url 'cursoFormulario' %}">Agregar otro curso</a>
</ul>

{% endblock %}